<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DocReview</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("DocReview", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", new { area = ""}, new { @class = "nav-link"})
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">@Html.ActionLink("Sign Out", "SignOut", "Accounts", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li class="nav-item">@Html.ActionLink("Register", "Register", "Users", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Log In", "Login", "Accounts", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <div class="message-bar user-message">
            <div class="container">
                <small>Logged in as <strong>@Context.User.Identity.Name</strong></small>
            </div>
        </div>
    }
    <div class="nav-end"></div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <div class="footer-start"></div>
    <footer class="footer">
           <div class="container">
               <p class="footer-copyright text-muted text-center">&copy; @DateTime.Now.Year - DocReview - Christian Galea SWD-6.2B</p>
           </div>
    </footer>

    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>