@model Common.Comment

@{
    ViewBag.Title = "Comment";
}
<div class="container">
    <h2>Comments</h2>
    @if (ViewData["document_title"] != null)
    {
        <h3>@ViewData["document_title"]</h3>
    }
    <hr />
    @if (ViewData["message"] != null)
    {
        <div class="alert alert-warning text-center">
            @ViewData["message"]
        </div>
    }
    @if (ViewData["error_message"] != null)
    {
        <div class="alert alert-danger text-center">
            @ViewData["error_message"]
        </div>
    }
    @if (ViewData["success_message"] != null)
    {
        <div class="alert alert-success text-center">
            @ViewData["success_message"]
        </div>
    }

    @if (new BusinessLogic.DocumentsOperations().IsReviewerAllocatedToDocument(User.Identity.Name, (int)ViewData["document_id"]))
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Hidden("document", ViewData["document_id"])
                <div class="form-group">
                    @Html.LabelFor(model => model.Comment1, "Comment", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Comment1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Comment1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-2">
                        <button type="submit" class="btn btn-lg btn-primary">Add Comment</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-2">
                        @Html.ActionLink("Back to Documents", "Review", "Documents", null, htmlAttributes: new { @class = "btn btn-lg btn-default" })
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        @Html.ActionLink("Back to Documents", "Index", "Documents", null, htmlAttributes: new { @class = "btn btn-lg btn-default btn-block" })
    }
    <hr />


    @foreach (var doc in new BusinessLogic.DocumentsOperations().GetComments((int)ViewData["document_id"]))
    {
        <div class="thumbnail comment">
            <div class="media">
                <h4 class="media-heading"><strong>@doc.Username_fk</strong></h4>
                <p>@doc.Comment1</p>
                <kbd class="pull-right">@doc.DatePlaced</kbd>
            </div>
        </div>
    }
    
    
</div>