@model IEnumerable<Common.Document>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Review Documents</h2>
    <hr />
    @if (TempData["message"] != null)
    {
        <div class="alert alert-warning text-center">
            @TempData["message"]
        </div>
    }
    @if (TempData["error_message"] != null)
    {
        <div class="alert alert-danger text-center">
            @TempData["error_message"]
        </div>
    }
    @if (ViewData["success_message"] != null)
    {
        <div class="alert alert-success text-center">
            @ViewData["success_message"]
        </div>
    }

    @{
        int count = Model.Count();
    }

    @if (count > 0)
    {
        <table class="table table-hover">
            <tr>
                <th class="col-sm-2">User</th>
                <th class="col-sm-5">Title</th>
                <th class="col-sm-3"></th>
                <th class="col-sm-2">Options</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username_fk)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <a class="btn btn-default pull-right" href=@Url.Action("Comment", "Documents", new { documentId = new Common.Encryption().EncryptString(item.Id.ToString(), User.Identity.Name) })>Comments <span class="badge">@item.Comments.Count</span></a>
                    </td>
                    <td>
                        <a class="btn btn-default" href="@Url.Action("DownloadFile", "Documents", new { documentId = new Common.Encryption().EncryptString(item.Id.ToString(), User.Identity.Name) })">Download</a>
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <div class="alert alert-info text-center">
            <p>You have no documents to review</p>
        </div>
    }
</div>